.im {
  height: 50px !important;
  width: 50px !important;
}
.con {
  border: 2px solid gray;
  border-radius: 10px;
  margin-bottom: 40px;
}
.q {
  display: inline;
  float: right;
  margin-top: 5px;
}
